*.o
*.lo

work_dirs
data

mmdet/models/flow_modules/channelnorm_package/build/lib.linux-x86_64-3.7/channelnorm_cuda.cpython-37m-x86_64-linux-gnu.so



.eggs/
build/
configs/cityscapes/__pycache__/
mmdet.egg-info/
mmdet/__pycache__/
mmdet/core/__pycache__/
mmdet/core/anchor/__pycache__/
mmdet/core/bbox/__pycache__/
mmdet/core/bbox/assigners/__pycache__/
mmdet/core/bbox/samplers/__pycache__/
mmdet/core/evaluation/__pycache__/
mmdet/core/fp16/__pycache__/
mmdet/core/mask/__pycache__/
mmdet/core/post_processing/__pycache__/
mmdet/core/utils/__pycache__/
mmdet/datasets/__pycache__/
mmdet/datasets/loader/__pycache__/
mmdet/datasets/pipelines/__pycache__/
mmdet/models/__pycache__/
mmdet/models/anchor_heads/__pycache__/
mmdet/models/backbones/__pycache__/
mmdet/models/bbox_heads/__pycache__/
mmdet/models/detectors/__pycache__/
mmdet/models/extra_necks/__pycache__/
mmdet/models/flow_modules/__pycache__/
mmdet/models/flow_modules/channelnorm_package/__pycache__/
mmdet/models/flow_modules/correlation_package/__pycache__/
mmdet/models/flow_modules/resample2d_package/__pycache__/
mmdet/models/losses/__pycache__/
mmdet/models/mask_heads/__pycache__/
mmdet/models/necks/__pycache__/
mmdet/models/panoptic/__pycache__/
mmdet/models/plugins/__pycache__/
mmdet/models/roi_extractors/__pycache__/
mmdet/models/shared_heads/__pycache__/
mmdet/models/track_heads/__pycache__/
mmdet/models/utils/__pycache__/
mmdet/models/utils/upsnet/bbox/__pycache__/
mmdet/models/utils/upsnet/nms/__pycache__/
mmdet/ops/__pycache__/
mmdet/ops/dcn/__pycache__/
mmdet/ops/masked_conv/__pycache__/
mmdet/ops/nms/__pycache__/
mmdet/ops/roi_align/__pycache__/
mmdet/ops/roi_pool/__pycache__/
mmdet/ops/sigmoid_focal_loss/__pycache__/
mmdet/utils/__pycache__/
prepare_data/__pycache__/
tools/config/__pycache__/
tools/dataset/__pycache__/

